@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: sans-serif;
}

h1 {
    @apply text-4xl font-bold;
}

h2 {
    @apply text-2xl font-bold
}

h4 {
    @apply text-base font-bold
}


.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(15.7px);
    -webkit-backdrop-filter: blur(15.7px);
}